@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Splash&display=swap');

/*
      font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Splash', cursive;

*/


body{
    background-color: black;
}
h1{
    color: white;
    color: rgb(255,255,255);
    color: rgba(255, 255, 255, 2);
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: overline;
    /*letter-spacing: -5px;*/
    letter-spacing: 5px;
    /*text-shadow: x y z color;*/
    text-shadow: 2px 2px 3px yellow;
}

h2{
    font-family: serif;
    color: #fff;
    text-transform: lowercase;
    text-decoration: underline;
}

h3{
    color: rgb(255, 255, 255);
    font-family: monospace;
}

h4{
    color: white;
    font-family:'Edu VIC WA NT Beginner' ;
    text-align: left;
}

#chapter1 p{
color: #fff;
font-family: 'Splash', cursive;
font-weight: 200;
font-style: oblique;
word-spacing: -20px;
/*word-spacing: -20px;*/
text-decoration: none;
}

#chapter1 a{
    font-weight: bolder;
    font-style: normal;
}

#chapter2 {
    color: #fff;
    font-family: sans-serif;
   font-size: 20px; 
   text-align: center;
}

#chapter4 {
    text-align: left;
}

#chapter2 p{
    font-size: 2em;
    text-transform: capitalize;
    text-align: right;
    text-align: center;
}

#chapter2 a{
    font-size: 30px;
}

#chapter3 {
    color: #fff;
    font-family: sans-serif;

}

#chapter3 p{
    font-weight: bold;
    font-style: italic;
    text-indent: 20px;
    line-height: 2;
}

#chapter3 P span{
    font-weight: lighter;
    color: rgba(255, 255, 255, 5);
    font-style: normal;
    text-decoration: line-through;
}

.footer{
    color: #fff;

}

.footer ul{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    color: tomato;
}